<div class="container" style="margin-top: 10px;">
    <label>Full Name</label>
    <input class="form-control" type="text" [(ngModel)]=fullName>
    <label>ID</label>
    <input class="form-control" type="text" [(ngModel)]=id>
    <label>Age</label>
    <input class="form-control" type="number" [(ngModel)]=age>
    <label>City</label>
    <input class="form-control" type="text" [(ngModel)]=city>
    <label>Profession</label>
    <input class="form-control" type="text" [(ngModel)]=prof>
    <label>Seniority</label>
    <input class="form-control" type="number" [(ngModel)]=seniority>
    <label>Hours Per Month</label>
    <input class="form-control" type="number" [(ngModel)]=hoursPerMonth>
    <label>Hourly Wage</label>
    <input class="form-control" type="number" [(ngModel)]=hourlyWage>
    <label>Photo URL</label>
    <input class="form-control" type="url" [(ngModel)]=photo>
    <br>
    <button class="btn btn-success" (click)=applyChanges()>Apply</button>

    <br><br>
    <h5>Classes for this teacher</h5>
    <div class="form-check" *ngFor="let class of classes|async">
        <input class="form-check-input" type="checkbox" [id]=class.id [value]=class.id [checked]="classesCheck[class.id]" (click)=tick($event)>
        <label for={{class.id}} class="form-check-label">{{class.name}}</label>
    </div>
</div>